{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block main %}
<div class="example-wrapper"> 
    <h1>Nous contacter! </h1>
    {{ form_start(ContactFormType) }} 
    {{ form_row(ContactFormType.nomContact) }} 
    {{ form_row(ContactFormType.emailContact) }} 
    {{ form_row(ContactFormType.motifContact) }}
    <button type="submit" class="btn btn-lg btn-primary">Envoyer</button> 
    {{ form_end(ContactFormType) }} 
</div>
{% endblock %}
